*{

    margin: 0;
}
.login{
width: 100%;
height: 728px;
background-color: #36679C;
display: flex;
justify-content: center;
align-items: center;
line-height: 3;

}
.fs{
    width: 80%;
    height: 600px;
    display: flex;
    margin-top: -60px;
}
.left{
    width: 40%;
    text-align: right;
    line-height: 3.7;

}
p{
    color: white;
    font-size: 20px;
}
.right{
  width: 10%;
  line-height: 4.6;
  margin-left: 30px;
  margin-top: 1px;
}
.end{
    width: 300px;
   
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -70px;
}